# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. C++
7. Visual Basic
8. Ruby
9. JavaScript

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplotlib
4. Seaborn
5. scikit-learn
6. Keras
7. TesnsorFlow
8. PyTorch
TensorFlow

## Data Science Tools
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |
| Zeppelin           |
| Anaconda           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Objectives
**Objectives:**
- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Demonstrate arithmetic operations in Python.
- Explore tools for Data Science.

## Author
Harit Mohanta